.fill_rectangle {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
}

.fill_rectangle::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: blue;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 0.5s ease;
    z-index: -1;
}

.fill_rectangle:hover::before {
    transform: scaleX(1);
}

.fill_header {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.fill_header::before {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    background-color: rgba(240, 56, 107, 0.75);
    transform-origin: left center;
    transform: scaleX(0);
    transform: scaleY(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

.fill_header:hover::before {
    transform: scaleX(1);
    transform: scaleY(0.3);
}

.fill_header:hover {
    color: #F5F5F1;
    transform: scale(1.1);
}