.contact-card {
    margin-top: 15%;
    background-color: transparent;
    width: 550px;
    height: 300px;
    border-radius: 20px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
}

.contact-card:hover .contact-card_front {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.contact-card:hover .contact-card_back {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: auto;
}

.contact-card_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.contact-card_front, .contact-card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    pointer-events: none;

}

.contact-card_front {
    opacity: 1;
    z-index: 2;

}

.contact-card_back {
    opacity: 0;

    z-index: 1;
}

.contact-card .contact-card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.67);
}
.contact-card_front{

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}

.contact-card_front, .contact-card_back {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(-45deg, blue, #B81D24, blue, #B81D24);
    background-size: 600% 600%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0.9;
}


.contact-card:hover {
    transform: scale(1.05) translateY(-50px);
}

.contact-card_title {
    user-select: none;
}

.contact-card_back {
    display: flex;
    flex-direction: row;
}

.contact-card_left-part {
    padding-left: 5%;
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.link {
    color: #F5F5F1;
    text-align: start;

}

.contact-card_right-part {
    z-index: 999;
    width: 50%;
}

.label {
    padding-top: 5%;
    font-size: 120%;
    margin-bottom: 0;
}
.email, .phone-number, .github {
    margin-top: 0;
}

.avatar_div {

}

.avatar_image {
margin-top: 15%;
    max-width: 50%;
    border-radius: 20px;
}


@-webkit-keyframes Gradient {
    0%{background-position:1% 50%}
    50%{background-position:100% 50%}
    100%{background-position:1% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:1% 50%}
    50%{background-position:100% 50%}
    100%{background-position:1% 50%}
}
@keyframes Gradient {
    0%{background-position:1% 50%}
    50%{background-position:100% 50%}
    100%{background-position:1% 50%}
}
