.footer_container {
    background-color: #171515;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    font-weight: lighter;
    font-size: 70%;
}

.networks_div {
    display: flex;
    align-items: center;
}

.networks_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 50%;
}

.icon_item {
    font-size: 150%;
    transition: transform 0.3s ease;
}

.icon_item:hover {
    transform: scale(1.2);
}

.icon_link:hover {
    color: rgba(240, 56, 107, 0.75);

}

@media (max-width: 500px) {
    .footer_container {
        display: none;
    }
}