.language_card {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: blue solid 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #171515;

    transition: transform 0.3s ease;
}

.language_card:hover {
    transform: scale(1.1);
}

.language_image {
    max-width: 15%;
    height: auto;
}

.language_name {
    font-size: 100%;
}

.card_dimensions--200:hover {
    background-color: rgba(184, 29, 36, 0.95);
}


.position--absolute--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.max-width--100 {
    max-width: 100%;
    height: auto;
}

.display--block {
    display: block;
}

.filter--black:hover {

    background-image: linear-gradient(to top, #F5F5F1, #221F1F, #221F1F );
}

.img {
    filter: brightness(100%) saturate(100%) contrast(103%) blur(1px);
}




