.languages_title {
    margin-left: 10px;
}

.container {
    margin: 5% 5% 5% 5%;
}

.alignement--center {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.languages_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
}

.languages_language_item {
    flex: 10%;
    padding: 10px;
}


@media (min-width: 600px) and (max-width: 1243px) {
    .languages_language_item {
        flex: 25%;
        padding: 25px;
    }
}

@media (min-width: 1479px) {
    .languages_language_item {
        flex: 15%;
        padding: 15px;
    }
}


@media (max-width: 500px) {
    .languages_container {
        flex-wrap: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .languages_title {
        text-align: center;
    }
    .container {
        text-align: center;
    }
}
