.ul--style {
    list-style-type: none;

    width: 50%;
}

.height--64px {
    height: 20%;
}

.nav_name {
    margin-bottom: 0;
    font-size: 32px;
    /*box-shadow: #508484 0px -10px 0px  0px inset;
    box-sizing: border-box;*/

}
.nav_name_line {
    position: absolute;
    top: 70%; left: 0; right: 0; bottom: 10%;
    background-color: rgba(240, 56, 107, 0.75);
    z-index: -1;
}

.nav_name_container{
    position: relative;
    display: inline-block;
}

.items_alignment--row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding_left_right--3 {
    padding: 0 3% 0 3%;
}

.nav_item {
    padding: 0.5%;
    margin: 0.5% 2.5% 0.5% 2.5%;

}
.nav_item::before {
    border-radius: 2px;
}