.nav_bar {
    background-color: rgba(34, 31, 31, 0.65);
    backdrop-filter: blur(10px);
    opacity: 0;
    animation: fade-in 1s forwards;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    padding: 0 0 0 5%;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.nav_name {
    font-size: 32px;
}
.nav_name_line {
    position: absolute;
    top: 70%; left: 0; right: 0; bottom: 10%;
    background-color: rgba(240, 56, 107, 0.75);
    z-index: -1;
}

.nav_name_container{
    position: relative;
    display: inline-block;
}


.network_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.icon_link {
    font-size: 150%;
    margin: 0 2% 0 2%
}

@media (max-width: 500px) {
    .nav_bar {
        position: static;
        justify-content: center;

    }
    .nav_name {
        font-size: 35px;

    }
    .nav_item_container {
        display: none;
    }
}