.project_card {
    width: 100%;
    border-radius: 20px;
    padding: 3% 0 0 0 ;
    margin-bottom: 7%;
    display: flex;
}
.project_image_container {
    transition: transform 0.3s ease;
}

.project_image_container:hover {
    transform: scale(1.1);
}

.project_image {
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    margin: 0;
}
.project_description_div {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}

.project_description_div {
    position: relative;
}
.project_description_title {
    position: relative;
    display: inline-block;
    margin-right: auto;
}
.project_description_name {
    margin: 0;
    width: 100%;

}

.project_description_title_line {
    position: absolute;
    top: 70%; left: 0; right: 0; bottom: 10%;
    background-color: rgba(240, 56, 107, 0.75);
    z-index: -1;
}

.project_description_text {
    width: 90%;
}


.project_description_type {
    box-shadow: blue 0px -8px 0px 0px inset;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    position: absolute;
    bottom: 0;

}

.single_project:nth-child(1)  {
    transform: translateY(100%);
    animation: slide-up 1s forwards;
}

.single_project:nth-child(2)  {
    transform: translateY(100%);
    animation: slide-up 2s forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@media (max-width: 600px){
    .project_card {
        flex-direction: column;
    }

    .project_description_div {
        justify-content: center;
        margin: 0;
    }

    .project_description_text {
        margin-bottom: 7%;
    }
}

.projects_container {
    margin: 5% 5% 5% 5%;
}

@media (max-width: 500px) {
    .project_image_container {
        transition: none;
    }
    .project_image {
        max-width: 100%;
    }
   .project_description_div {
       margin-top: 2%;
       align-items: start;
   }
   .project_description_text{
       text-align: start;
       margin-bottom: 7%;
   }
   .projects_container {
       text-align: center;
   }
   body {
       padding-bottom: 7%;
   }

}