.spoken-languages_container {
    margin-left: 15%;
}



.spoken-languages_title_div {
    position: relative;
    display: inline-block;
}

.spoken-languages_title {
    position: relative;
    margin-bottom: 0;
}

.spoken-languages_title_line {
    margin-top: 0;
    position: absolute;
    top: 78%; left: 0; right: 0; bottom: 5%;
    background-color: blue;

    z-index: -1;
}

.spoken-languages_introduction {
    width: 70%;
    margin-bottom: 3%;
}